.container-fluid {
	width: 960px;
	margin: 0 auto;
	}
	
.jumbotron {
	margin-top: 30px;
	}
	
.carousel {
	margin-bottom: 20px;
	}


/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen 
	and (max-device-width: 414px)
	and (orientation: portrait),
	(max-width: 414px) {
		
		body {
		background: PapayaWhip;
		}
		
		.ghost {
			display: none;
			}
		
	}
	
	
	
* Smartphones (landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (min-device-width: 415px) 
	and (max-device-width: 768px)
	and (orientation: landscape), 
	(min-width : 415px) 
	and (max-width : 767px) {
	
		body {
		background: SpringGreen;
		}
		
		.ghost {
			display: none;
			}
	
	}
	
	
	
	
	
/* Tablets (portrait) Mainly iPad */
@media only screen
	and (min-device-width: 769px)
	and (max-device-width: 899px)
	and (orientation: portrait),
	(min-width : 768px)
	and (max-width : 899px) {
	
		body {
		background: Crimson;
		}
	
	}
	
	
	
	
 /* Desktops and laptops */
@media only screen 
	and (min-width : 900px) {
		
		body {
		background: SlateBlue;
		}
		
	}