/* 
		Jessica J. Hernandez
		Week 2 - Site 1
		DWS-2 201501-01
		January 12, 2015
 */


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

.container-fluid {
	width: 100%;
	}
			
.jumbotron {
	margin-top: 30px;
	}
	
#footTable {
	width: 90%;
	margin: 2% auto;
	}
	
#copyR, #footTable {
	text-align: center;
	}
	
	
	
/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

.searchAlert {
			margin: 1% auto;
			}



/* _____________________________________ */
/*                 LINKS                 */
/* _____________________________________ */	



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

.carousel {
	margin-bottom: 20px;
	}



/* _____________________________________ */
/*                TABLE                  */
/* _____________________________________ */	



/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen 
	and (max-device-width: 414px)
	and (orientation: portrait),
	(max-width: 414px) {
	
	/* ----------- MAIN STYLE ------------ */		
		body {
			background: PapayaWhip;
			}
		
		.ghost {
			display: none;
			}
			
		.col-xs-12 {
			margin-top: 4%;
			}
		
	}
	
	
	
/* Smartphones (landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (min-device-width: 415px) 
	and (max-device-width: 767px)
	and (orientation: landscape), 
	(min-width : 415px) 
	and (max-width : 767px) {
	
		body {
			background: Green;
			}
		
		.ghost {
			display: none;
			}
			
		.col-xs-12 {
			margin-top: 4%;
			}
			
	}
	
	
	
/* Tablets (portrait) Mainly iPad */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 899px)
	and (orientation: portrait),
	(min-width : 768px)
	and (max-width : 899px) {
	
		body {
			background: Crimson;
			}
			
		.carousel-caption h3 {
			font-size: 75%;
			}
	
	}
	
	
	
 /* Desktops and laptops */
@media only screen 
	and (min-width : 900px) {
	
		.container-fluid {
			width: 82%;
			margin: 2% auto; 
			}
		
		body {
			background: SlateBlue;
			}
			
		.carousel-caption h3 {
			font-size: 130%;
			}
			
		.searchAlert {
			width: 90%;
			}
		
	}