.jumbotron {
	margin-top: 30px;
	}
	
.carousel {
	margin-bottom: 20px;
	}


/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen 
	and (max-device-width: 414px)
	and (orientation: portrait),
	(max-width: 414px) {
	
		.container-fluid {
			width: 100%;
			}
		
		body {
			background: PapayaWhip;
			}
		
		.ghost {
			display: none;
			}
		
	}
	
	
	
* Smartphones (landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (min-device-width: 415px) 
	and (max-device-width: 767px)
	and (orientation: landscape), 
	(min-width : 415px) 
	and (max-width : 767px) {
	
		.container-fluid {
			width: 100%;
			}
	
		body {
			background: Green;
			}
		
		.ghost {
			display: none;
			}
			
		.img-responsive {
			position: left;
			}
			
		.caption {
			float: left;
			}
			
		
	
	}
	
	
	
	
	
/* Tablets (portrait) Mainly iPad */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 899px)
	and (orientation: portrait),
	(min-width : 768px)
	and (max-width : 899px) {
	
		.container-fluid {
			width: 100%;
			}
	
		body {
			background: Crimson;
			}
			
		.col-sm-12 {
			margin-top: 4%;
			}
	
	}
	
	
	
	
 /* Desktops and laptops */
@media only screen 
	and (min-width : 900px) {
	
		.container-fluid {
			width: 82%;
			margin: 0 auto; 
			}
		
		body {
			background: SlateBlue;
			}
		
	}