/* 
		Jessica J. Hernandez
		Week 1 - Site 1
		DWS-2 201501-01
		January 06, 2015
 */


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
	font-family: 'Titillium Web', sans-serif;
	line-height: 150%;
	background: #FFAA1C;
	}
	
#container {
	width: 73.99999%; /* 1040px */
	margin: 0 auto;
	background: #FFE271;
	padding-bottom: 0.96153846%; /* 10px/1040px */
	}
	
#mainContent {
	padding: 2.08333333% 3.8461585%; /* 20px/960px   40px/1040px */
	}
	
#about, #types {
	width: 47.91666667%;   /* 460px / 960px */
	float: left;
	}
	

	
/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */

nav {
	margin: 4.80769231% auto 1.92307692% auto;   /* 50px/1040px auto 20px/1040px auto */
	text-align: center;
	font-weight: bold;
	font-size: 120%;
	}
	
nav + ul {
	list-style-type: none;
	}
	
nav li {
	display: inline-block;
	margin-right: 8.65384615%; /* 90px/1040px */
	}
	
nav li:last-child {
	margin: 0;
	}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

#about {
	margin: 0 4.16666667% 2.08333333% 0;  /* 0 40px/960px 20px/960px 0 */
	}

h1 {
	text-align: center;
	font-family: 'Oleo Script', cursive;
	font-size: 600%;
	margin-top: 0;
	padding-top: 5.76923077%;  /* 60px/1040px */
	color: #22313F;
	text-shadow: 2px 2px #fff;
	}
	
h2 {
	color: #1F3A93;
	border-bottom: 1px solid #FFAA1C;
	}

h3 {
	margin-bottom: 0;
	background: url("../images/cheese-icon.png") no-repeat center left;
	padding-left: 7.60869565%; /* 35px/460px */
	color: #333;
	}

h3 + p {
	font-style: italic;
	margin-top: 0;
	}
	
div[class="imagePlaceholder"] > p {
	text-align: center;
	font-size: 80%;
	line-height: 120%;
	margin-bottom: 8.88888889%; /* 20px/225px */
	}
	
span:first-child {
	font-weight: bold;
	}
	
#production, #gallery {
	clear: both;
	}
	
footer {
	font-size: 70%;
	line-height: 120%;
	text-align: center;
	margin: 2%;
	}


	
/* _____________________________________ */
/*                 LINKS                 */
/* _____________________________________ */	

a:link, a:visited {
	color: #F64747;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	color: #DB0A5B;
	}
	
a:active {
	text-decoration: underline;
	color: #26A65B;
	}



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
	max-width: 100%;
	border: 2px solid #fff;
	}
	
.imagePlaceholder {
	width: 23.4375%; /* 225px/960px */
	margin-right: 1.92307692%; /* 20px/1040px */
	float: left
	}
	
.imagePlaceholder:nth-child(4n + 1) {
	margin: 0;
	}

.imagePlaceholder:nth-child(4n + 2) {
	clear: both;
	}

#headerImage {
	width: 100%;  /* 960px/960px */
	margin: 0 auto;
	}
	
#headerImage img{
	border: 6px solid #595241;
	}
	
	
	
/* _____________________________________ */
/*                TABLE                  */
/* _____________________________________ */	
	
#production-table {
	border-collapse: collapse;
	border: 2px solid #333;
	width: 60%;
	background: #ecf0f1;
	vertical-align: center;
	text-align: center;
	}
	
tr {
	height: 2.2em;
	}
	
tr:nth-child(2n) {
	background: #95a5a6;
	}
	
tr:nth-child(1) {
	background: #2c3e50;
	color: #fff;
	}
	
tr:hover {
	background: #F7CA18;
	color: #F64747;
	font-weight: bold;
	border: 1px solid #4183D7;
	}
	
th {
	width: 50%;
	border-right: 1px dotted #fff;
	}



/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
	
	#container {
	width: 100%
	margin: 0 auto;
	background: #FFE271;
	padding-bottom: 3.125%; /* 10px/320px */
	}
	
	}

/* Smartphones (landscape) */
@media only screen and (max-device-width : 480px) {
	
	#container {
	width: 100%
	margin: 0 auto;
	background: #FFE271;
	padding-bottom: 2.08333333%; /* 10px/480px */
	}
	
	}

/* Tablets (portrait) */
@media only screen and (min-device-width : 768px) 
	and (max-device-width : 1024px) and (orientation : portrait) {
	
	#container {
	width: 100%
	margin: 0 auto;
	background: #FFE271;
	padding-bottom: 1.30208333%; /* 10px/768px */
	}
	
	}
	
@-ms-viewport{
	width: device-width;
	}