/* 
		Jessica J. Hernandez
		Week 4 - Site 1
		DWS-2 201501-01
		January 24, 2015
 */
 
 
/* 
CSS styles that do not belong to a specific
media query, pertain to desktop and laptops.
*/
 
 
/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
	background: #193441;
	font-family: 'Questrial', sans-serif;
 	}

#container {
	position: relative;
	width: 100%;
	margin: 0 auto;
 	}
 	
#mainContent, #secondaryContent, #galleryContent {
	position: relative;
 	background-color: #FFFFF4;
	width: 96%;
	padding: 2%;
	margin: 4% auto;
	overflow: auto;
	}
	
#mainContent {
	margin-top: 0;
	}
	
#secondaryContent {
	margin-bottom: 0;
	}
	
div#callToAction {
	width: 100%;
 	position: relative;
 	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
 	}
 	
#mainContent > div, #secondaryContent > div {
	width: 44%;
	float: left;
	padding: 0 3%;
	line-height: 1.7em;
	}
	
#mainContent span:first-child {
	font-weight: bold;
	font-size: 2em;
	}

#secondaryContent div:first-child {
	position: relative;
	}
 	
.floatLeft {
	float: left;
	}
	
.clear {
	clear: both;
	}
	
.clearLeft {
	clear: left;
	}

header {
	width: 30%;
	text-align: center;
	font-size: 225%;
	line-height: 1%;
	margin: 1% 3% 2% 2%;
	float: left;
	}
	
footer {
	width: 100%;
	padding-bottom: 2%;
	color: #fff;
	}
	
hr {
	border-top: 1px solid #d7d946;
	border-bottom: 1px solid #d7d946;
	margin: 0;
	}

	
	
/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */

.main-nav {
	width: 65%;
	margin: 32px 0;
	padding: 2% 0;
	text-align: center;
	float: left;
	z-index: 150;
	}
	
.main-nav-scrolled {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 98%;
	margin: 0;
	padding: 1%;
	float: none;
	z-index:1;
	-webkit-box-shadow: 1px 1px 50px #1A2842;
	-moz-box-shadow: 1px 1px 50px #1A2842;;
	box-shadow: 1px 1px 50px #1A2842;
	background-color: rgba(241,255,138,0.8);
	}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

h1 {
	font-family: 'Leckerli One', cursive;
	color: #5F94F2;
	text-shadow: 1px 1px 70px #1A2842;
	}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 70%;
	color: #fff;
	text-shadow: 1px 1px 70px #1A2842;
	}

h3 {
	font-family: 'Playfair Display', serif;
	margin-bottom: 2%;
	border-bottom: 1px solid black;
	font-weight: bold;
	font-size: 1.5em;
	}
	
#galleryContent h3 {
	margin: 0 3% 2% 3%;
	}

footer p:last-child {
	width: 60%;
	margin: 3% auto 0 auto;
	text-align: center;
	}
	
#call-out-title {
 	position: absolute;
 	width: 23%;
 	float: right;
 	text-align: center;
 	top: 15%;
 	right: 10%;
 	font-size: 1.7vw;
 	font-weight: bold;
 	line-height: 1.2em;
 	color: #fff;
 	text-shadow: 1px 1px 5px #193441;
 	padding: 0 2%;
 	background: rgba(95,148,242,0.7);
 	-webkit-border-radius: 100px;
 	-mox-border-radius: 100px;
 	border-radius: 100px;
 	
 	-moz-box-shadow: 1px 1px 10px #193441;
    -webkit-box-shadow: 1px 1px 10px #193441;
    box-shadow: 1px 1px 10px #193441;

 	
 	-ms-transform: rotate(3deg); /* IE 9 */
	-webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
	transform: rotate(3deg);
 	}
 	
.smallText {
 	font:small-caption;
 	}



/* _____________________________________ */
/*                 LINKS                 */
/* _____________________________________ */

.divButtonLink {
	position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
	}
	
.divButton {
	position: relative;
	display: inline-block;
	margin: 0 2%;
	padding: 1% 2%;
	border: 1px solid #6D7F7A;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #89BF68;
	color: #fff;
	
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 300ms,300ms;
	}
	
.divButton:hover {
	background-color: #d7d946;
	color: #193441;
	
	-webkit-transition-property: color, border;
	-webkit-transition-duration: 100ms,100ms;
	
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
	transform: scale(1.1);
	}
	
.divButton:active {
	border: 1px solid #AA4434;
	color: #AA4434;
	
	-ms-transform: scale(0.9); /* IE 9 */
	-webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
	transform: scale(0.9);
	}
	
td a:link, td a:visited, footer p:last-child a:link, footer p:last-child a:visited {
	text-decoration: none;
	color: #5F94F2;
	}
	
td a:hover, footer p:last-child a:hover, footer p:last-child a:hover {
	color: yellow;
	}
	
td a:active, footer p:last-child a:active, footer p:last-child a:active {
	color: #AA4434;
	}

	
	
/* _____________________________________ */
/*            IMAGES + VIDEO             */
/* _____________________________________ */

img {
	max-width: 100%;
	}
	
.rectangle {
	width: 41.2%;  /*  531.85px / 1183px  */
	}
	
.square {
	width: 21.31%;  /* 265.925px / 1183px  */
	}

#gallery {
	width: 100%;
	}
	
.galleryImage {
	float: left;
	margin: 0 0 4% 4%;
	-moz-box-shadow: -1px -1px 5px #DADADA;
    -webkit-box-shadow: -1px -1px 5px #DADADA;
    box-shadow: -1px -1px 5px #DADADA;
	}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	max-width: 100%; 
	margin: 2% 0;
	} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	margin: 2% 0;
	}
	
.socialMediaIcon {
	float: left;
	margin: 1% 4% 4% 0;
	
	-ms-transform: skew(0deg, 10deg); /* IE 9 */
	-webkit-transform: skew(0deg, 10deg); /* Chrome, Safari, Opera */
	transform: skew(0deg, 10deg);
	
	-webkit-transition-property: transform;
	-webkit-transition-duration: 50ms;
	}
	
.socialMediaIcon:hover {
	-ms-transform: skew(0deg, -10deg); /* IE 9 */
	-webkit-transform: skew(0deg, -10deg); /* Chrome, Safari, Opera */
	transform: skew(0deg, -10deg);
	}

.videoIcon {
	float: left;
	width: 48%;
	margin: 3% 1%;
	}



/* _____________________________________ */
/*                TABLES                 */
/* _____________________________________ */

table {
	width: 100%;
	margin: 2% auto;
	}

td {
	width: 21%;
	vertical-align: top;
	font-weight: normal;
	padding: 1% 6% !important;
	border-left: 1px solid white;
	line-height: 1.3em;
	}

td:first-child {
	border: none;
	}

td > h4 {
	color: #89BF68;
	}



/* _____________________________________ */
/*                 FORM                  */
/* _____________________________________ */

.forms {
    margin: 4% auto 0 auto;
    max-width: 100%;
    background: #CCF6EE;
    padding: 1.875em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}
	
.forms h4 {
    padding: 5% 6%;
    display: block;
    margin: -1.875em -1.875em 0.625em -1.875em;
    color: #1D4A82;  
    text-shadow: 1px 1px 1px #EFCF00;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom:1px solid #89BF68;
    
	background: rgb(252,245,184); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,245,184,1) 0%, rgba(255,237,124,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,245,184,1)), color-stop(100%,rgba(255,237,124,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,245,184,1) 0%,rgba(255,237,124,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,245,184,1) 0%,rgba(255,237,124,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,245,184,1) 0%,rgba(255,237,124,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,245,184,1) 0%,rgba(255,237,124,1) 100%); /* W3C */
	}
	
.forms h4 > span {
    display: block;
    font-size: 0.8em;
    color: #2A6ABA;
    line-height: 1.2em;
	}

.forms label {
    display: block;
    margin: 0 0 0 0.313em;
    font-size: 0.9em;
	}
	
.forms label > span {
    float: left;
    margin-top: 0.625em;
    color: #193441;
    font-weight: bold;
	}
	
#email-sign-up {
	overflow: auto;
	padding: 1em;
	}
	
#email-sign-up label {
	font-size: 0.6em;
	}
	
#email-sign-up label > span {
	margin-top: 0;
	}
	
.forms input[type="text"], .forms input[type="email"] {
	font-size: 0.9em;
    color: #89BF68;
    height: 1.95em;
    line-height: 1.2em;
    width: 97%;
    padding: 0.3em 0 0.2em 0.8em;
    margin-top: 0.12em;
    border: 1px solid #2A6ABA;
	font-family: Helvetica, Arial, sans-serif;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    box-shadow: 1px 1px 4px #DADADA;
    outline: 0;
    background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	}
	
#email-sign-up input[type="email"] {
	font-size: 1.4em;
    color: #89BF68;
    height: 2em;
    line-height: 1.3em;
    width: 97%;
    }
    
.forms input[type="text"]:hover, .forms input[type="email"]:hover {
	border-color: #F2C631;
	}
	
.forms input[type="text"]:focus, .forms input[type="email"]:focus {
	border: 1px solid red;
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(53%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(237,237,237,1) 0%,rgba(246,246,246,1) 53%,rgba(255,255,255,1) 100%); /* W3C */
	}
	
input::-webkit-input-placeholder {
	font-style: italic;
	}
	
input::-moz-placeholder {
	font-style: italic;
	}
	
input:-moz-placeholder {   /* Older versions of Firefox */
	font-style: italic;
	}
	
input:-ms-input-placeholder { 
	font-style: italic;
	}

input[type="submit"] {
	padding: 1% 6%;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	font-weight: bold;
	border: 1px solid #2A6ABA;
	float: left;
	margin: 3% 0;
	
	background: rgb(163,233,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(163,233,255,1) 0%, rgba(86,209,247,1) 40%, rgba(7,181,234,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,233,255,1)), color-stop(40%,rgba(86,209,247,1)), color-stop(100%,rgba(7,181,234,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(163,233,255,1) 0%,rgba(86,209,247,1) 40%,rgba(7,181,234,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(163,233,255,1) 0%,rgba(86,209,247,1) 40%,rgba(7,181,234,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(163,233,255,1) 0%,rgba(86,209,247,1) 40%,rgba(7,181,234,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(163,233,255,1) 0%,rgba(86,209,247,1) 40%,rgba(7,181,234,1) 100%); /* W3C */
	}
	
#email-sign-up > input[type="submit"] {
	margin-bottom: 0;
	}
	
input[type="submit"]:hover {
	background: rgb(186,237,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(186,237,252,1) 0%, rgba(142,224,249,1) 40%, rgba(82,210,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,237,252,1)), color-stop(40%,rgba(142,224,249,1)), color-stop(100%,rgba(82,210,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(186,237,252,1) 0%,rgba(142,224,249,1) 40%,rgba(82,210,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(186,237,252,1) 0%,rgba(142,224,249,1) 40%,rgba(82,210,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(186,237,252,1) 0%,rgba(142,224,249,1) 40%,rgba(82,210,249,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(186,237,252,1) 0%,rgba(142,224,249,1) 40%,rgba(82,210,249,1) 100%); /* W3C */
	}	

input[type="submit"]:active {
	background: rgb(7,181,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(7,181,234,1) 0%, rgba(86,209,247,1) 60%, rgba(163,233,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,181,234,1)), color-stop(60%,rgba(86,209,247,1)), color-stop(100%,rgba(163,233,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(7,181,234,1) 0%,rgba(86,209,247,1) 60%,rgba(163,233,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(7,181,234,1) 0%,rgba(86,209,247,1) 60%,rgba(163,233,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(7,181,234,1) 0%,rgba(86,209,247,1) 60%,rgba(163,233,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(7,181,234,1) 0%,rgba(86,209,247,1) 60%,rgba(163,233,255,1) 100%); /* W3C */
	
	-ms-transform: scale(0.9); /* IE 9 */
	-webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
	transform: scale(0.9);
	}
	
	
	


/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */
	
/* Tablets (portrait) Mainly iPad */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 899px)
	and (orientation: portrait),
	(min-width : 768px)
	and (max-width : 899px) {
	
	/* ----------- MAIN STYLE ------------ */
	
		#container {
			width: 90%;
			}
		
		.main-nav {
			width: 100%;
			margin: 0 0 1% 0;
			float: none;
			}
	
		header {
			width: 98%;
			font-size: 225%;
			float: none;
			margin-bottom: 5%;
			}
		
		footer {
			width: 100%;
			}

	}
	
	
	
/* Smartphones (portrait & landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (max-device-width: 767px),
	(max-width : 767px) {
	
	/* ----------- MAIN STYLE ------------ */
	
		#mainContent, #secondaryContent, #galleryContent {
			padding-bottom: 5%;
			}
	
		#mainContent {
			margin-bottom: 5%;
			}
	
		#mainContent > div {
			width: 94%;
			float: none;
			padding: 3% 3% 0 3%;
			line-height: 1.5em;
			}
	
		#secondaryContent > div {
			width: 94%;
			float: none;
			padding: 3% 3% 0 3%;
			line-height: 1.5em;
			}
	
		#mainContent span:first-child {
			font-weight: bold;
			font-size: 1.9em;
			line-height: 1.4em;
			}
		
		footer p:last-child {
			width: 80%;
			}
	
		header {
			width: 98%;
			font-size: 225%;
			float: none;
			margin-bottom: 5%;
			}
		
	/* ----------- NAVIGATION ------------- */
	
		.main-nav {
			width: 100%;
			margin: 0 0 1% 0;
			float: none;
			}
		
	/* --------- HEADINGS & TEXT ---------- */

		h3 {
			margin: 0 0 1% 0;
			border-bottom: 1px solid black;
			}
		
		#call-out-title {
			right: 5%;
			font-size: 2.5vw;
			}
		
	/* ------------- IMAGES --------------- */
		
		#gallery {
			width: 100%;
			text-align: center;
			}
		
		div[class="rectangle galleryImage"] {
			width: 94%;
			margin: 1% 3%;
			}
		
		div[class="square galleryImage"], div[class="square galleryImage clear"] {
			width: 44%;
			margin: 1.2% 3%;
			}
		
	/* ------------- TABLES --------------- */
		
		td {
			padding: 1% 3% !important;
			}
		
		#middleCol {
			width: 27%;
			}
		
		#leftCol {
			width: 15%;
			}
		
		#rightCol {
			width: 20%;
			}
	
	}
	
	
	
/* Smartphones (portrait or landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (max-device-width: 485px),
	(max-width : 485px) {
	
	/* ----------- MAIN STYLE ------------ */
	
		.hide {
			display: none;
			}
		
	/* ------------- TABLES --------------- */
		
		td {
			width: 38%;
			padding: 1% 6% !important;
			}
		
	/* -------------- FORM ---------------- */
		
		.forms {
			margin-top: 3%;
			}
			
	/* -------------- LINKS --------------- */
		
		.divButton {
			margin: 0 1%;
			padding: 1% 1%;
			}

	}
	
	
	
/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen 
	and (max-device-width: 414px)
	and (orientation: portrait),
	(max-width: 414px) {
	
	/* ------------- IMAGES --------------- */
	
		div[class="rectangle galleryImage"],
		div[class="square galleryImage"],
		div[class="square galleryImage clear"] {
			width: 90%;
			margin: 2% 6%;
			}

	}